/* styles.css */

body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.container h1 {
    margin-bottom: 20px;
}

.form-inline {
    margin-bottom: 20px;
}

.list-group-item a {
    color: #007bff;
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.disclaimer {
    background-color: #ffcccb;
    color: #333;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.disclaimer p {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 10s linear infinite;
    margin: 0;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
