/* styles.css */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.jumbotron {
    background: url('https://example.com/your-image.jpg') no-repeat center center;
    background-size: cover;
    color: #e1e1e1;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #5a5555;
    border-radius: .3rem;

}

.jumbotron .display-4 {
    font-weight: 700;
}

.card {
    margin-top: 20px;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.disclaimer {
    background-color: #ffcccb;
    color: #333;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.disclaimer p {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 10s linear infinite;
    margin: 0;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
